div{
    width: 1000px;
    font-family: sans-serif;
   background-image: url(giphy.gif);
      border: solid 5px black;
    padding: 50px;
    align-content: center;
    background-repeat: round;
}